/*  your css code here. If applicable */
body{
	background-color:#f6f6f6;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	gap:50px;
	flex-wrap:wrap;
}
.left{
	width:450px;
	margin:70px;
	display:inline-block;
}
.left p {
  font-size: 20px;
  color: #1c1e21;
}

form{
	display: flex;
  flex-direction: column;
	gap: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  gap: 10px;
}


.right input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.right form button{
	background-color:#1877f2;
	border:none;
	border-radius:5px;
	padding:10px 20px; 
	color:white;
	
}
.right a{
	color:#1877f2;
	text-decoration:underline;
	text-align:center;
}
.right .signup{
	 background-color: #42b72a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 300px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  align-items:center;
}